/* General container styles */
.password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Full height to center the form vertically */
  width: 100%;
}

.password-change-form {
  width: 500px;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



.password-change-form .change {
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
}

.password-change-form form {
  display: flex;
  flex-direction: column;
  line-height: 30px;
  gap: 15px;
}

.password-change-form label {
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

.password-change-form input {
  padding: 10px;
  font-size: 14px;
  width:450px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-btn {
width: 200px;
margin: 0 auto;
font-size: 20px;
margin-top: 10px;
  position: relative;
  cursor: pointer;

  padding: 12px 17px;
  border: 0;
  border-radius: 7px;

  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
background-color: #333;

  color: rgb(255, 255, 255, 0.66);

  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.password-btn::before {
  content: "";
  width: 70%;
  height: 1px;

  position: absolute;
  bottom: 0;
  left: 15%;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.2;

  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.password-btn:hover {
  color: rgb(255, 255, 255, 1);
  transform: scale(1.1) translateY(-3px);
}

.password-btn:hover::before {
  opacity: 1;
}



.password-change-form p {
  font-size: 14px;
  color: red;
  margin: 0;
  text-align: center;
}