@import url('https://fonts.googleapis.com/css2?family=Montserrat+Underline:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yuji+Mai&display=swap'); 

footer{
    margin-top: 100px;
    font-family: "Yuji Mai", serif;
    font-weight: 700;
    background-color:#16a085;
    color: black;
}
.h-10 {
    height:100px;
}

.text-blue{
    text-decoration: none;
}
.Atag{
    text-decoration: none;
    color: black;
}
.text-center {
    font-size: 20px;
    font-weight: 600;
}
.container{
    color:  black;
}
.font-normal {
    font-weight: 600;
}


@media (max-width:475px) {
    .text-center {
        font-size: 10px;
    }
}


@media (max-width:769px) {
    .text-center {
        font-size: 14px;
    }
}

