.slider-wrapper {
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto; 
  margin-top: 30px;
}

.slick-list {
  overflow: hidden !important;
}

.slick-track {
  display: flex !important;
}

.slick-dots {
  display: block !important; /* Ensure it's visible */
}


.slick-slider {
  align-items: center;
  justify-content: center;
}

.slide {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.slider-image {
  width: 100%;
  height: auto;
  max-height: 500px;

}

.slick-dots li button:before {
color: gray;
font-size: 19px;

}

.slick-dots li.slick-active button:before {
  color: #29cb3f;
}
@media screen and (max-width: 1000px) {
  .slider-wrapper {
    max-width: 100%;
  }

  .slider-image {
    max-height: 400px;
    object-fit: cover; 
}
}

@media screen and (max-width: 768px) {
  .slider-wrapper {
    max-width: 90%; 
  }

  .slider-image {
    max-height: 300px; 
  }
}

@media screen and (max-width: 480px) {
  .slider-wrapper {
    max-width: 100%; 
  }

  .slider-image {
    max-height: 200px;
  }
}

@media screen and (min-width: 1001px) {
  .slick-dots {
    display: block; 
    position: absolute;
    display: flex;
    gap: 10px;

  }
}
